<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>

</head>
<body>

<div class="listaProdutos">
    <h1>Lista de Produtos</h1>

    
    {% if lista %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Produto</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                </tr>
            </thead>
            <tbody>
                
                {% for produto in lista %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ produto[0] }}</td>
                        <td>R$ {{ "%.2f"|format(produto[1]) }}</td>
                        <td>{{ produto[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum produto encontrado.</p>
    {% endif %}

        <a href="/" class="btn">Voltar para a página inicial</a>
    </div>
</div>

</body>
</html>
