<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListaUsuarios</title>
    
</head>
<body>
    <header>
        <h1>Usuários do Sistema</h1>
</header>
<main>
    <h2>Lista de Usuários</h2>
        <ul class="user-list">
            {% for usuario in lista %}
            <li class="user-item">
                <span class="user-name">{{usuario[0]}}</span>
                <span class="user-login">{{usuario[1]}}</span>
            </li>
            {% endfor %}
        </ul>
    </main>

    <form action="/logout"> 
        <button>Sair</button>
    </form>


</body>
</html>