<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static//style.css">
    <title>SGMCS</title>
    
</head>
<body class="bodyPagCliente">
    <header class="headerPagCliente">
        <div class="menu-icon">☰ SGMCS</div>
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar...">
        </div>
    </header>
    
    <form action="/listar_produto" method="get">
        <button type="submit">Ver Lista de Roupas</button>
      </form>
      
    <form action="/logout" method="POST">
        <button type="submit">Sair</button>
    </form>
    
</body>
</html>
